<div class="container">
    <check if="{{ @SESSION.alert }}">
        <div class="alert alert-{{ @SESSION.alert_type }}" role="alert">{{ @messages[@SESSION.alert] | raw }}</div>
    </check>

    <form class="form-register form-horizontal col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" method="POST" action="{{ 'register' | alias }}">
        <h2 class="form-register-heading">Sign Up</h2>
        <div class="form-group{{ @SESSION.error == 'INVALID_EMAIL' ? ' has-error error-required error-type' : '' }}">
            <label for="email" class="control-label col-sm-4">Email</label>
            <div class="col-sm-8">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{ @POST.email }}" data-error-required="{{ @messages['INVALID_EMAIL'] }}" data-error-required="{{ @messages['INVALID_EMAIL'] }}" data-error-type="{{ @messages['INVALID_EMAIL'] }}" required autofocus>
                <p class="help-block error-msg error-msg-required error-msg-type" role="alert">{{ @messages['INVALID_EMAIL'] }}</p>
            </div>
        </div>
        <div class="form-group{{ @SESSION.error == 'INVALID_FIRST_NAME' ? ' has-error error-required' : '' }}">
            <label for="fname" class="control-label col-sm-4">First Name</label>
            <div class="col-sm-8">
                <input type="fname" id="fname" name="fname" class="form-control" placeholder="First Name" value="{{ @POST.fname }}" data-error-required="{{ @messages['INVALID_FIRST_NAME'] }}" required>
                <p class="help-block error-msg error-msg-required" role="alert">{{ @messages['INVALID_FIRST_NAME'] }}</p>
            </div>
        </div>
        <div class="form-group{{ @SESSION.error == 'INVALID_LAST_NAME' ? ' has-error error-required' : '' }}">
            <label for="lname" class="control-label col-sm-4">Last Name</label>
            <div class="col-sm-8">
                <input type="lname" id="lname" name="lname" class="form-control" placeholder="Last Name" value="{{ @POST.lname }}" data-error-required="{{ @messages['INVALID_LAST_NAME'] }}" required>
                <p class="help-block error-msg error-msg-required" role="alert">{{ @messages['INVALID_LAST_NAME'] }}</p>
            </div>
        </div>
        <div class="form-group{{ @SESSION.error == 'EMPTY_PASSWORD' ? ' has-error error-required' : @SESSION.error == 'INVALID_PASSWORD' ? ' has-error error-pattern' : '' }}">
            <label for="password" class="control-label col-sm-4">Password</label>
            <div class="col-sm-8">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" data-error-required="{{ @messages['EMPTY_PASSWORD'] }}" data-error-pattern="{{ @messages['INVALID_PASSWORD'] }}" required>
                <p class="help-block error-msg error-msg-required" role="alert">{{ @messages['EMPTY_PASSWORD'] }}</p>
                <p class="help-block error-msg error-msg-pattern" role="alert">{{ @messages['INVALID_PASSWORD'] }}</p>
            </div>
        </div>
        <div class="form-group{{ @SESSION.error == 'PASSWORD_MISMATCH' ? ' has-error error-mismatch' : '' }}">
            <label for="password" class="control-label col-sm-4">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Confirm Password" data-error-mismatch="{{ @messages['PASSWORD_MISMATCH'] }}" required>
                <p class="help-block error-msg error-msg-mismatch" role="alert">{{ @messages['PASSWORD_MISMATCH'] }}</p>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>

</div>