<div class="container">

    <h2>Study Sessions</h2>

    <check if="{{ @study_sessions }}">
        <true>
            <repeat group="{{ @study_sessions }}" value="{{ @study_session }}">
                <div class="panel panel-default">
                <div class="panel-heading">{{ @study_session.title }} @ {{ @study_session.location_name }}</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Start:</dt><dd>{{ date('D, F j, Y, g:i a', strtotime(@study_session.start_time)) }}</dd>
                            <dt>End:</dt><dd>{{ date('D, F j, Y, g:i a', strtotime(@study_session.end_time)) }}</dd>
                            <dt>Location:</dt><dd>{{ @study_session.location_name }}</dd>
                        </dl>
                        <p>{{ @study_session.description }}</p>
                        <p><check if="{{ @study_session.creator == @SESSION.user.id }}">
                            <true><a href="#" class="btn btn-default">Edit</a></true>
                            <false>
                                <check if="{{ @StudySession->isFull(@study_session.id) }}">
                                    <false><a href="#" class="btn btn-primary">Join</a></false>
                                </check>
                            </false>
                        </check></p>
                    </div>
                </div>
            </repeat>
        </true>
        <false>
            <p>Sorry, there are no study sessions to show!</p>
        </false>
    </check>
</div>